In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv('bike.csv')

In [3]:
X=dataset.iloc[::-1]

In [4]:
Y=dataset.iloc[:,3:]

In [5]:
X=dataset.iloc[::-1].values
Y=dataset.iloc[:,3:].values

In [6]:
dataset

    Gender  YearlyIncome  Age  BikeBuyer
0        1         90000   50          1
1        1         60000   51          1
2        1         60000   51          1
3        0         70000   49          1
4        0         80000   48          1
5        1         70000   51          1
6        0         70000   51          1
7        1         60000   52          1
8        0         60000   52          1
9        1         70000   52          1
10       0         70000   53          1
11       1         60000   53          1
12       0        100000   49          0
13       1        100000   48          0
14       0        100000   48          0
15       0         30000   38          1
16       1         30000   37          1
17       0         20000   72          1
18       1         30000   72          1
19       1         40000   39          0
20       1         40000   38          1
21       0         40000   38          1
22       1         40000   38          1
23       1         40000   38          0
24       1         60000   38          0
25       1         10000   71          1
26       1         30000   70          1
27       1         30000   70          1
28       0         30000   70          1
29       1         30000   70          1
30       0         10000   70          1
31       0         20000   69          1
32       0         20000   69          1
33       1         20000   69          1
34       0         20000   69          1
35       0         10000   69          1
36       0         60000   38          1
37       0         40000   39          1
38       0         10000   68          1
39       1         30000   68          1
40       1         30000   39          1
41       0         60000   39          1
42       0         70000   39          1
43       1         60000   41          0
44       1         20000   67          1
45       1         30000   66          0
46       0         30000   66          1
47       0         30000   67          1
48       1         30000   66          1

In [7]:
X

array([[     1,  30000,     66,      1],
       [     0,  30000,     67,      1],
       [     0,  30000,     66,      1],
       [     1,  30000,     66,      0],
       [     1,  20000,     67,      1],
       [     1,  60000,     41,      0],
       [     0,  70000,     39,      1],
       [     0,  60000,     39,      1],
       [     1,  30000,     39,      1],
       [     1,  30000,     68,      1],
       [     0,  10000,     68,      1],
       [     0,  40000,     39,      1],
       [     0,  60000,     38,      1],
       [     0,  10000,     69,      1],
       [     0,  20000,     69,      1],
       [     1,  20000,     69,      1],
       [     0,  20000,     69,      1],
       [     0,  20000,     69,      1],
       [     0,  10000,     70,      1],
       [     1,  30000,     70,      1],
       [     0,  30000,     70,      1],
       [     1,  30000,     70,      1],
       [     1,  30000,     70,      1],
       [     1,  10000,     71,      1],
       [     1,  60000,     38,      0],
       [     1,  40000,     38,      0],
       [     1,  40000,     38,      1],
       [     0,  40000,     38,      1],
       [     1,  40000,     38,      1],
       [     1,  40000,     39,      0],
       [     1,  30000,     72,      1],
       [     0,  20000,     72,      1],
       [     1,  30000,     37,      1],
       [     0,  30000,     38,      1],
       [     0, 100000,     48,      0],
       [     1, 100000,     48,      0],
       [     0, 100000,     49,      0],
       [     1,  60000,     53,      1],
       [     0,  70000,     53,      1],
       [     1,  70000,     52,      1],
       [     0,  60000,     52,      1],
       [     1,  60000,     52,      1],
       [     0,  70000,     51,      1],
       [     1,  70000,     51,      1],
       [     0,  80000,     48,      1],
       [     0,  70000,     49,      1],
       [     1,  60000,     51,      1],
       [     1,  60000,     51,      1],
       [     1,  90000,     50,      1]], dtype=int64)

In [8]:
Y

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1]], dtype=int64)

In [9]:
from sklearn.model_selection import train_test_split 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [10]:
X_train

array([[     0,  40000,     39,      1],
       [     0,  20000,     72,      1],
       [     0,  30000,     38,      1],
       [     0,  40000,     38,      1],
       [     1,  90000,     50,      1],
       [     0,  30000,     66,      1],
       [     1,  60000,     51,      1],
       [     0,  10000,     70,      1],
       [     1,  20000,     69,      1],
       [     1,  40000,     38,      1],
       [     1,  30000,     70,      1],
       [     0,  20000,     69,      1],
       [     1,  60000,     52,      1],
       [     0,  30000,     70,      1],
       [     0,  70000,     51,      1],
       [     1,  30000,     39,      1],
       [     0,  10000,     69,      1],
       [     1,  40000,     38,      0],
       [     1,  60000,     41,      0],
       [     0,  20000,     69,      1],
       [     1, 100000,     48,      0],
       [     0,  20000,     69,      1],
       [     0,  70000,     53,      1],
       [     0,  30000,     67,      1],
       [     0,  60000,     38,      1],
       [     1,  70000,     51,      1],
       [     1,  60000,     38,      0],
       [     0,  70000,     39,      1],
       [     1,  10000,     71,      1],
       [     0, 100000,     49,      0],
       [     1,  30000,     70,      1],
       [     1,  30000,     70,      1],
       [     1,  30000,     68,      1],
       [     1,  70000,     52,      1],
       [     0,  70000,     49,      1],
       [     1,  30000,     66,      0],
       [     1,  30000,     66,      1],
       [     1,  60000,     51,      1],
       [     0,  80000,     48,      1]], dtype=int64)

In [11]:
Y_train

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1]], dtype=int64)

In [12]:
X_test

array([[     1,  40000,     39,      0],
       [     1,  20000,     67,      1],
       [     1,  40000,     38,      1],
       [     1,  30000,     72,      1],
       [     1,  30000,     37,      1],
       [     1,  60000,     53,      1],
       [     0, 100000,     48,      0],
       [     0,  60000,     52,      1],
       [     0,  60000,     39,      1],
       [     0,  10000,     68,      1]], dtype=int64)

In [13]:
Y_test

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1]], dtype=int64)

In [14]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion='entropy',random_state=0)
classifier.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [15]:
y_pred=classifier.predict(X_test)

In [16]:
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 0], dtype=int64)

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
accuracy_score(Y_test,y_pred)

0.9